* {
    box-sizing: border-box;
    margin: 0;
}

:root {
    --co101: #F5F1E2;
    --co102: #6B704E;
    --co103: #BB6133;
    --co104: #4C482F;
    --co105: #FAF8F0;
}

body {
  background-color: var(--co101);
}

.content {
  max-width: 1200px;
  margin: 0 auto;
}

.icon_header {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding: 25px;
  padding-bottom: 0px;
}

.logo_illustration {
  max-width: 30%;
  max-height: 30%; 
  height: auto;
}

.header {
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 25px 25px;
}

.header a {
  color: var(--co104);
  text-align: center;
  font-family: "Libre Baskerville", serif;
  font-weight: 700;
  padding: 20px;
  text-decoration: none;
  font-size: 18px;
}

.header a:hover {
color: var(--co103);
}







footer {
  display: flex;
  flex-wrap: wrap-reverse;
  overflow: hidden;
  justify-content: space-around;
  padding: 25px 25px;
  background-color: var(--co104);
}

.copyright_b {
  text-align: center;
  margin-top: 2%;
  margin-bottom: 2%;
}

.copyright_text {
  float: left;
  color: var(--co105);
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  text-decoration: none;
  font-size: 14px;
  margin-top: 5%;
}

.social_link_b {
    display: flex;
    justify-content: flex-end;
    margin-top: 2%;
    margin-bottom: 2%;
}

.social_link_b img {
  width: 50px;
  height: 50px;
  margin: 0 10px;
}


/* Use this code https://get.foundation/building-blocks/blocks/social-footer.html */


.carousel {
  margin: 20px;
  margin-bottom: 50px;
}

.carousel-cell {
  width: 50%;
  height: 500px;
  margin-right: 10px;
  background: #8C8;
  border-radius: 5px;
  counter-increment: carousel-cell;
}

/* cell number */
.carousel-cell:before {
  display: block;
  text-align: center;
  content: counter(carousel-cell);
  line-height: 200px;
  font-size: 80px;
  color: white;
}




